p {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
#notification {
  position: absolute;
  top: 3.6rem;
  z-index: 999;
  right: 1rem;
}
#signup-contain {
  z-index: 1;
}
#signup-img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./components/images/signin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  overflow: hidden;
}
#signin-container {
  z-index: 1;
}
#signin-img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./components/images/signin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  overflow: hidden;
}
